retry2==0.9.5
pydantic==2.5.2
pydantic-settings==2.1.0
httpx==0.26.0
isort==5.13.2
autoflake==2.3.1
pyright==1.1.368
loguru==0.7.2
kagglehub
pandas==2.2.1

# PostgreSQL dependencies (write_rows disponível a partir da 3.1.4)
psycopg[binary,pool]==3.1.18
sqlalchemy==2.0.23

# ETL and performance monitoring
pyarrow==14.0.1
tqdm==4.66.1

# Visualization and plotting
matplotlib==3.8.2
seaborn==0.13.0
